html {
    font-size: 12px;
    font-family: sans-serif;
    background-color: #E8DEEC;
    overflow: hidden;
    width: 100%;

}
body {
    padding: 0;
    margin: 0;
}


.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5rem;
    height: 100vh;
    
}

.register-header, .login-header {
    display: flex; 
    grid-row: span 3;
    grid-column: span 3;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.register-main, .login-main {
    grid-column: span 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.register-main{
    grid-row: span 2;
}
.footer-welcome{
    grid-column: span 3;
    color: #343434;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 10px;
}
.header-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0;
    color: white;
    background: #89599B;
    width: 100%;
    height: 4rem;
}
.logo-booknet {
    width: 19.4rem;
    height: 14.16rem;
}

.register-button, .modal-button {
    border: none;
    padding: 2%;
    width: 25%;
    border-radius: 8px;
}

.register-button {
    background-color: #FFCB05;
}

#log-in {
    background-color: #EA9811;
    color: white;
}
.login-main{
    grid-row: span 3;
}

.register-buttons-div {
    display: flex;
    flex-direction: column-reverse;
}

#email-button, #google-button {
    width: 170px;
    border: none;
    background: white;
    color: #444;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 1px 1px 1px grey;
}
#email-button:hover, #google-button:hover{
    cursor: pointer;
}

#google-button{
    background-image: url(./img/btn_google.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 38px;
}

#email-button{
    background-image: url(./img/btn_email.png);
    background-size: 100% ;
  background-repeat: no-repeat;
  height: 29px;
}

.login-modal, .signup-modal {
    position: relative;
    background: #89599B;
    border: none;
    color: white;
    width: 100%;
    height: 45%;
    top: 52%;
    /*transform: translateY(51.5%);*/
}
.login-input, .signup-input {
    text-align: center;
    width: 80%;
    padding: 2%;
    margin-left: 5%;
    margin-top: 2%;
    border: none;
    text-decoration: none;
    border-radius: 3px;
}
.login-input::placeholder, .signup-input::placeholder{
text-align: center;
}

.modal-button {
    margin: 3rem;
}
#cancel-login-modal, #cancel-signup-modal, #backButtonSignup, #backButtonLogin {
    background: white;
    color: red
}

#backButtonSignup, #backButtonLogin {
    margin-left: 40%;
}

#submit-login-modal {
    background: #EA9811;
    color: white;
}
#submit-signup-modal {
    background: #FFCB05;
}
#form-login-modal, #form-signup-modal {
    margin-top: 18%;
}

.error-paragraph {
    text-align: center;
    color: rgb(255, 38, 0);
    background-color: white;
    width: 13rem;
    margin-left: 6rem;
    border-radius: 4px;
}

.paragraph-terms {
    text-align: center;
    color: #645C5C;
    font-size: 9px;
    width: 170px;
    position: relative;
    top: 2rem;
}

.header-home, .header-profile{
    grid-column: span 3;
    grid-row: span 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px #89599B;
}

.div-logo{
    display: flex;
    margin-left: 8%;
}

.logoB-header{
    width: 3.5rem;
    height: 4.8rem;
}

.title-header{
    position: relative;
    top: 1rem;
    left: 2rem;
    font-size: 16px;
    color: #7b0ea4;
    font-weight: lighter;
}

.div-create-post, .div-profile-body{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-create-post, .image-settings-profile {
    margin-top: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.title-create-post, .title-settings-profile {
    font-size: 10.5px;
    color: #1e1e1e;
}

.home-main, .profile-main{
    grid-column: span 3;
    grid-row: span 4;
}


.section-posts, .section-profile-main{
    grid-column: span 3;
    grid-row: span 4;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.nav-menu{
    grid-column: span 3;
    grid-row: span 1;
    width: 100%;
    height: 17vh;
    background-color: #89599B;
    border-top: solid 3px #343434;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.indicator-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dot-indicator{
    margin-top: .5rem;
    width: 1rem;
    height: 1rem;
}

.image-home-nav{
    margin-top: 1rem;
    width: 3.9rem;
    height: 3.1rem;
}

.image-search-nav{
    width: 3rem;
    height: 3rem;
}

.image-profile-nav{
    width: 2.5rem;
    height: 4.23rem;
}

.image-profile-nav:hover, .image-home-nav:hover{
    cursor:pointer;
}
.dialog-settings {
    position: absolute;
    z-index: 2;
    width: fit-content;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    background: #89599B;
    left: 21rem;

}
.div-logout-img, .div-edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem 0.5rem 1rem;
}
.logout-img, .edit-img{
    width: 2rem;
    height: 2rem; 
}
.logout-title, .edit-title{
     font-size: 9.5px;
    color: white; 
}
.close-settings{
    position:absolute;
    z-index: 4;
    font-size: 12px;
    color:#FFCB05;
    font-weight:bold;
    margin-right: 1rem;
    top: -0.6rem;
    left: 3.7rem;
    padding: 0;
}
.close-settings:hover {
    cursor: pointer;
}

.new-post {
    border: none;
    background-color: #89599B;
    border-radius: 8px;
}

.user-image{
    width: 2.91rem;
}

.email-user-new-post, .save-post-text, .cancel-post-text{
    color: white;
    font-family: sans-serif;
    margin: 0;
}

.div-user-new-post, .div-user-post{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div-user-post{
    width: 80%;
}

.input-new-post{
    border: none;
    border-radius: 6px;
    margin-top: 2rem;
    width: 60vw;
    height: 20vh;
}

.save-post-button{
    width: 2rem;
    margin-bottom: 0.5rem;
}

.save-post-div, .cancel-post{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
}
.cancel-post-button{
    width: 3.5rem;
}

.div-buttons-new-post{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    height: 10vh;
}

.section-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-layout-post{
    background-color: #d9d9d9;
    border-radius: 8px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.input-post{
    background: none;
    border: none;
    width: 60vw;
    height: 20vh;
    margin-top: 1rem;
    font-family: sans-serif;
}

textarea{
    font-family: sans-serif;
}

.email-user-post{
    color: black;
    font-family: sans-serif;
}

.count-paragraph{
    text-align: right;
    color: white;
}
@media (min-width: 768px) and (max-width: 1024px) {
    
}