html {
    font-size: 12px;
    font-family: sans-serif;
    background-color: #E8DEEC;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

body, section {
    display: grid;
    grid-template-columns: repeat(3, 8.1rem);
    grid-template-rows: repeat(6, 7.26rem);
    gap: 0.5rem;
}

.register-header {
    margin-top: 30%;
    grid-row: span 3;
    grid-column: span 3;
}

.register-main {
    grid-column: span 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.logo-booknet {
    margin-left: 12%;
    width: 19.4rem;
    height: 14.16rem;
}

.register-button {
    border: none;
    padding: 2%;
    width: 25%;
    border-radius: 8px;
    background-color: #FFCB05;
}

#log-in {
    background-color: #EA9811;
    color: white;
}