html {
    font-size: 12px;
    font-family: sans-serif;
    background-color: #E8DEEC;
    overflow: hidden;
    width: 100%;

}
body {
    padding: 0;
    margin: 0;
}


.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5rem;
    height: 100vh;
    
}
.welcome-header {
    grid-column: span 3;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.register-header, .login-header {
    display: flex; 
    grid-row: span 2;
    grid-column: span 3;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}


.register-main, .login-main {
    grid-column: span 3;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.register-main{
    grid-row: span 2;
}
.footer-welcome{
    grid-column: span 3;
    color: #343434;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 10px;
}
.header-label {
    grid-column: span 3;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 0;
    color: white;
    background: #89599B;
    width: 100%;
    height: 4rem;
}
.logo-booknet {
    width: 19.4rem;
    height: 14.16rem;
}

.register-button, .modal-button {
    border: none;
    padding: 2%;
    width: 25%;
    border-radius: 8px;
}

.register-button {
    background-color: #FFCB05;
}

#log-in {
    background-color: #EA9811;
    color: white;
}
.login-main{
    grid-row: span 3;
}

.register-buttons-div {
    display: flex;
    flex-direction: column-reverse;
}

#email-button, #google-button {
    width: 170px;
    border: none;
    background: white;
    color: #444;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 1px 1px 1px grey;
}

#google-button{
    background-image: url(./img/btn_google.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 38px;
}

#email-button{
    background-image: url(./img/btn_email.png);
    background-size: 100% ;
  background-repeat: no-repeat;
  height: 29px;
}

#email-button:hover, #google-button:hover{
    cursor: pointer;
}

.login-modal, .signup-modal {
    position: relative;
    background: #89599B;
    border: none;
    color: white;
    width: 100%;
    height: 45%;
    top: 52%;
}
.login-input, .signup-input {
    text-align: center;
    width: 80%;
    padding: 2%;
    margin-left: 5%;
    margin-top: 2%;
    border: none;
    text-decoration: none;
    border-radius: 3px;
}
.login-input::placeholder, .signup-input::placeholder{
text-align: center;
}

.modal-button {
    margin: 3rem;
}
#cancel-login-modal, #cancel-signup-modal, #backButtonSignup, #backButtonLogin {
    background: white;
    color:#EA9811;
}

#backButtonSignup, #backButtonLogin {
    margin-left: 40%;
}

#submit-login-modal {
    background: #EA9811;
    color: white;
}
#submit-signup-modal {
    background: #FFCB05;
}
#form-login-modal, #form-signup-modal {
    margin-top: 18%;
}

.error-paragraph, .error-post {
    text-align: center;
    color: rgb(255, 38, 0);
    background-color: white;
    width: 13rem;
    margin-left: 6rem;
    border-radius: 4px;
}

.paragraph-terms {
    text-align: center;
    color: #645C5C;
    font-size: 9px;
    width: 170px;
    position: relative;
    top: 2rem;
}

.header-home, .header-profile{
    grid-column: span 3;
    grid-row: span 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px #89599B;
}

.div-logo{
    display: flex;
    margin-left: 8%;
}

.logoB-header{
    width: 3.5rem;
    height: 4.8rem;
}

.title-header{
    position: relative;
    top: 1rem;
    left: 2rem;
    font-size: 16px;
    color: #7b0ea4;
    font-weight: lighter;
}

.div-create-post, .div-profile-body{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-create-post, .image-settings-profile {
    margin-top: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.title-create-post, .title-settings-profile {
    font-size: 10.5px;
    color: #1e1e1e;
}

.home-main, .profile-main{
    grid-column: span 3;
    grid-row: span 4;
}


.section-posts, .section-profile-main{
    grid-column: span 3;
    grid-row: span 4;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.section-profile-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu{
    grid-column: span 3;
    grid-row: span 1;
    width: 100%;
    height: 17vh;
    background-color: #89599B;
    border-top: solid 3px #343434;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.indicator-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.dot-indicator{
    margin-top: .5rem;
    width: 1rem;
    height: 1rem;
}

.image-home-nav{
    margin-top: 1rem;
    width: 3.9rem;
    height: 3.1rem;
}

.image-search-nav{
    width: 3rem;
    height: 3rem;
}

.image-profile-nav{
    width: 2.5rem;
    height: 4.23rem;
}

.image-profile-nav:hover, .image-home-nav:hover{
    cursor:pointer;
}
.dialog-settings, .warning-delete {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    background: #89599B;
    
}
.dialog-settings{
    position: absolute;
    width: fit-content;
    left: 80%;
    z-index: 2;
}
.div-logout-img, .div-edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem 0.5rem 1rem;
}
.logout-img, .edit-img{
    width: 2rem;
    height: 2rem; 
}
.logout-title, .edit-title{
     font-size: 9.5px;
    color: white; 
}
.close-settings{
    position:absolute;
    z-index: 4;
    font-size: 12px;
    color:#FFCB05;
    font-weight:bold;
    margin-right: 1rem;
    top: -0.6rem;
    left: 3.7rem;
    padding: 0;
}
.close-settings:hover {
    cursor: pointer;
}

.new-post {
    border: none;
    background-color: #89599B;
    border-radius: 8px;
}

.user-image{
    width: 2.91rem;
}

.email-user-new-post, .save-post-text, .cancel-post-text {
    color: white;
    font-family: sans-serif;
    margin: 0;
}

.div-user-new-post, .div-user-post{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div-user-post{
    width: 80%;
}

.input-new-post{
    border: none;
    border-radius: 6px;
    margin-top: 2rem;
    width: 60vw;
    height: 20vh;
}

.save-post-button{
    width: 2.6rem;
    margin-bottom: 0.5rem;
}

.save-post-div, .cancel-post{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.cancel-post-button{
    width: 3.5rem;
}

.div-buttons-new-post{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    height: 10vh;
    padding-bottom: 1rem;
}

.error-post{
    margin-left: 2rem;
}

.section-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-layout-post{
    background-color: #d9d9d9;
    border-radius: 8px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
    margin-top: 1rem;
}
.delete-post{
    width: 1.5rem;
    position: relative;
    left: 9.5rem;
}

.input-post{
    background: none;
    border: none;
    width: 60vw;
    height: min-content;
    margin-top: 1rem;
    font-family: sans-serif;
    text-align: justify;
}

textarea{
    font-family: sans-serif;
    resize: none;
}

.email-user-post{
    color: black;
    font-family: sans-serif;
}

.count-paragraph{
    text-align: right;
    color: white;
}

.warning-delete{
    color: white;
    top: 50%;
    left:17%;
    width: 33vh;
    text-align: center;
    padding: 1rem;
}
.btn-continue, .btn-cancel{
    width: 35%;
    border-radius: 8px;
    background-color: white;
    color: red;
    border: none;
    margin-bottom: .7rem;
}
.btn-cancel{
    background-color: #FFCB05;
    color: #1e1e1e;
    margin-left: 1rem;
}
.edit-post{
    width: 1.5rem;
    position: relative;
    top: 1.66rem;
    left: 7rem;
}
.div-user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.like-post{
    width: 6vw;
    height: 3vh;
}
.counter-like{
    color: #343434;
}
.div-like{
    display: flex;
    align-items: center;
    min-width: 10vw;
    justify-content: space-around;
    position: relative;
    right: 7rem;
}

.div-like:hover{
    cursor: pointer;
}
@media (min-width: 480px) and (max-width: 960px) {
    html {
        font-size: 16px;
    }

    .section {
        grid-template-columns: repeat(4, 1fr);
        
    }

    .welcome-header {
        grid-column: span 2;
        grid-row: span 4;
        align-items: center;
        margin-top: 10rem;
    }

    .register-header, .login-header {
        grid-row: span 3;
        grid-column: span 2;
        justify-content: center;
    }
    
    .register-main, .login-main {
        grid-column: span 2;
        grid-row: span 4;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-welcome {
        grid-column: span 4;
        font-size: 12px;
    }

    .header-label {
        grid-column: span 4;
        font-size: 24px;
        height: 8vh;
    }
    .logo-booknet {
        width: 42vw;
    }
    
    .register-button, .modal-button {
        width: 25vw;
        height: 4vh;
        margin-top: 2rem;
        font-size: 16px;
    }

    .login-main{
        grid-row: span 3;
    }
    
    .register-buttons-div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #email-button, #google-button {
        width: 12rem;
        margin-top: 1rem;
    }

    .modal-button {
        margin: 2rem 2rem 2rem 5rem;
    }
    #backButtonSignup, #backButtonLogin{
        position: relative;
        right: 13rem;
    }
    #backButtonSignup {
        top: 3rem;
    }
    #backButtonLogin {
        top: 10rem;
    }

    #form-login-modal, #form-signup-modal {
        margin-top: 15%;
    }
    
    .error-paragraph {
        width: 50vw;
        margin-left: 10rem;
    }
    
    .paragraph-terms {
        font-size: 12px;
        width: 15rem;
    }
    
    .header-home, .header-profile{
        grid-column: span 4;
    }
    
    .div-logo{
        margin-left: 10%;
    }
    
    .logoB-header{
        width: 4rem;
        height: 5.3rem;
    }
    
    .title-header{
        font-size: 24px;
    }
    
    .div-create-post, .div-profile-body{
        margin-right: 10%;
    }
    .input-post{
        margin-left: 9rem;
    }
    
    .image-create-post, .image-settings-profile {
        width: 3.3rem;
        height: 3.3rem;
    }
    
    .title-create-post, .title-settings-profile {
        font-size: 14px;
    }
    
    .home-main, .profile-main{
        grid-column: span 4;
    }
    
    
    .section-posts, .section-profile-main{
        grid-column: span 4;
    }
    
    .nav-menu{
        grid-column: span 4;
    }
    
    .image-home-nav{
        width: 4.4rem;
        height: 3.6rem;
    }
    
    .image-search-nav{
        width: 3.5rem;
        height: 3.5rem;
    }
    
    .image-profile-nav{
        width: 3rem;
        height: 4.73rem;
    }
    
    .dialog-settings {
        left: 82%;
    
    }
    .div-logout-img, .div-edit-profile {
        margin: 2.2rem 1.2rem 0.7rem 1.2rem;
    }
    .logout-img, .edit-img{
        width: 2.5rem;
        height: 2.5rem; 
    }
    .logout-title, .edit-title{
         font-size: 14px;
    }
    .close-settings{
        font-size: 14px;
        top: -0.4rem;
        left: 5rem;
    } 
    .user-image{
        width: 3.8rem;
    }
    .div-user-new-post {
        justify-content: flex-start;
    }
    
    .save-post-text, .cancel-post-text{
        font-size: 14px;
    }
    .email-user-new-post {
        font-size: 18px;
        margin-left: 0.5rem;
    }
    
    .error-post{
        margin-left: 9rem;
    }

    .save-post-button{
        width: 3.1rem;
    }
    .cancel-post-button{
        width: 4rem;
    }

    textarea{
        font-size: 16px;
    }
    .div-layout-post{
        width: 60vw;
    }
    .post-settings{
        left: 15rem;
    }
    .dialog-post-setting{
        left: 35.4rem;
        top: 13.8rem;
        width: 9vh;
    }
    .delete-post, .edit-post{
        width: 1.7rem;
    }

    .like-post{
        width: 1.7rem;
        
    }
    .counter-like{
        font-size: 14px;
    }
    .div-like{
        min-width: 7vw;
        right: 9rem;
    }

}

@media (min-width: 960px) {
        .register-header, .welcome-header, .login-header{
            grid-row: span 5;
            grid-column: span 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .register-main, .login-main{
            grid-column: span 1;
            grid-row: span 5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .register-button{
            width: 40%;
            height: 7%;
            margin-top: 2rem;
        }
        .footer-welcome{
            font-size: 12px;
        }
        .header-label{
            height: 9rem;
        }
        .login-modal, .signup-modal{
            position: fixed;
            width: 30%;
            height: 100vh;
            top: 0%;
            left: 68%;
        }
        #form-login-modal, #form-signup-modal{
            margin-top: 85%;
        }
        .nav-menu{
            position: fixed;
            grid-column: span 1;
            grid-row: span 6;
            width: 9rem;
            height: 100vh;
            border-top: none;
            border-right: solid 3px #343434;
            flex-flow: column;
            justify-content: space-evenly;
        }
        .image-search-nav{
            margin-top: 10vh;
            margin-bottom: 10vh;
        }
        .indicator-div{
            flex-direction: row;
        }
        .dot-indicator{
            margin-left: .5rem;
            margin-top: 1rem;
        }
        .header-home, .header-profile{
            justify-content: center;
        }
        .div-logo{
           margin-right: 10vh; 
        }
        .div-create-post, .div-profile-body{
            margin-left: 10vh;
        }
        .logoB-header{
            width: 5rem;
            height: 7rem;
        }
        .title-header{
            font-size: 20px;
        }
        .image-create-post, .image-settings-profile{
            width: 4rem;
            height: 4rem;
        }
        .title-create-post, .title-settings-profile{
            font-size: 16px;
        }
        .section-posts, .section-profile-main{
            grid-row: span 5;
        }
        .div-layout-post{
            width: 35%;
        }
        .post-settings {
            left: 18rem;
            
        }
        .dialog-post-setting{
            top: 13.5rem;
            left: 67.8rem;
            width: 4.5vw;
        
        }
        .div-delete-post{
            height: 12vh;
            padding-bottom: 1rem;
        }
        .delete-post{
            width: 2rem;
            left: 13.5rem;
            bottom: 1.6rem;
        }
        .input-post{
            width: 30vh;
            font-size: 12px;
            margin-top: 2rem;
        }
        .new-post{
            width: 60vh;
        }
        .input-new-post{
            width: 59vh;
        }
        .div-buttons-new-post{
            height: 5vh;
        }
        .cancel-post, .save-post-div{
            height: 6vh;
        }
        .error-post{
            margin-left: 10rem ;
            margin-bottom: 3rem;
        }
        .count-paragraph{
            width: 98%;
        }
        .user-image{
            width: 4rem;
        }
        .email-user-new-post{
            font-size: 16px;
        }
        .dialog-settings{
            left: 63%;
        }
        .home-main, .profile-main{
            grid-row: span 6;
        }
        .like-post{
            width: 2rem;
        }
        .div-like{
            min-width: 5vw;
        }
        .edit-post{
            width: 2rem;
            left: 11rem;
            top: 0.7rem
        }
        .warning-delete{
            left: 40%;
        }
}